<div class="product">
  <div class="image-section">
    <img
      src="https://dojiw2m9tvv09.cloudfront.net/37792/product/X_914_14055.png?39"
      alt=""
    />
  </div>
  <div class="text-section">
    <div class="titleDesc">
      <h1>Titulo cojonudamente largo</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam illum
        cupiditate voluptatibus dicta eveniet eum commodi sit at. Nulla
        repellendus corporis, vel nemo cumque maxime unde repudiandae. Ea,
        quisquam debitis?
      </p>
    </div>
    <div class="buttonPrice"></div>
  </div>
</div>
