<div class="product">
  <div class="iconHeart">
    <!-- 30px -->
    <span class="badge bg-info text-white">Info</span>
    <fa-icon id="heart" [icon]="faHeart" size="lg"></fa-icon>
  </div>
  <div class="image-section">
    <!-- 200 px -->
    <img
      [src]="product.image"
      alt=""
    />
  </div>
  <div style="height: 34px"></div>
  <div class="text-section">
    <!-- 76px -->
    <div class="titleStar">
      <!-- 46px -->
      <h5>
        {{product.title}}
      </h5>
      <div class="startCant">
        <!-- 30px -->
        <div class="rowStarts">
          <fa-icon [icon]="faStar" *ngFor='let in of counter(product.note);let i = index'></fa-icon>
          <fa-icon [icon]="faStarEmpty" *ngFor='let in of counterEmpty(product.note)'></fa-icon>
          <span>(123123)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonPrice">
    <span>1 unidad</span>
    <span id="productPrice">{{product.price | currency: 'CLP':'$'}}</span>
  </div>
  <button (click)="agregarCarrito()" class="btn btn-outline-primary"> <fa-icon class="iconButton" [icon]="faShoppingCart"></fa-icon> <span>Agregar al carro</span></button>
</div>